* {
    margin: 0;
    padding: 0;
}

body {
    padding-top:20px;
    min-width: 400px;
}

.photo {
    float:left;
    width: 20%;
    min-width: 144px;
    min-height: 144px;
}

.photo img{
    float: left;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info {
    padding-top: 5px;
}

.intro-content {
    position:relative;
    padding-left: 20px;
    width: auto;
    overflow: hidden
}
.intro {
    position:relative;
    padding-left: 20px;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    .seg {
        display: flex;
        flex-direction: row
    }

    .seg > div {
        flex: 1;   
    }

    .edu-card-list {
        float:left;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20%;
        transform: translateX(0%);
    }

    .edu-cards {
        margin:auto; 
        margin-top: 0;
        float: left;
        top: 20px;
    }
}

@media screen and (min-width: 760px)and (max-width: 1000px) {
    .seg {
        display: flex;
        flex-direction: row
    }

    .seg > div {
        flex: 1;   
    }
    .edu-cards {
        margin:auto; 
        margin-top: 0;

    }
}

@media screen and (min-width: 400px)and (max-width: 760px) {
    .edu-card-list {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .edu-cards {
        margin:auto; 
        margin-top: 0;
    }
}

.work-exp {
    clear: both;
}

.language-level-section {
    padding-left: 30px;
}